@{
    ViewData["Title"] = "Home Page";
}

<style>
    .App {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        font-family: Sora, Arial, sans-serif;
        background-color: #10203A;
        color: white;
    }
</style>

<div class="App">
    <h1>Welcome to Back4App Containers</h1>
</div>

